#info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: calc(100vh - var(--nav-height));
  justify-content: center;
  text-align: right;

  a.btn-bordered {
    background-color: rgb(var(--background-rgb));
    border-radius: var(--border-radius);
    border: solid var(--border-width-thin) rgb(var(--foreground-rgb));
    display: inline-block;
    margin-bottom: 8px;
    padding: 4px 8px;
    position: relative;

    &::after {
      background-color: rgb(var(--foreground-rgb));
      border-radius: var(--border-radius);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &:hover::after {
      left: 4px;
      top: 4px;
    }

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }

  ul {
    display: flex;
    gap: 8px;

    li a {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      border: solid var(--border-width-thin) rgb(var(--foreground-rgb));
      border-radius: var(--border-radius);

      padding: 0.25em;

      &:hover {
        background-color: rgb(var(--foreground-rgb));
        color: rgb(var(--background-rgb));
      }
    }

    li a:focus-visible {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }
}
