#words {
  ul {
    display: flex;
  }

  li {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
  }

  li a {
    background-color: rgb(var(--background-rgb));
    border-radius: var(--border-radius);
    border: solid 2px rgb(var(--foreground-rgb));
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;

    min-height: 140px;
    aspect-ratio: 1;
  }
}
