#words {
  ul {
    display: flex;
  }

  li {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
  }

  li a {
    min-height: 140px;
    aspect-ratio: 1;
  }
}
