.project-item {
  padding: 16px 0;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .project-description {
    padding: 16px 0;
  }

  .caption {
    font-style: italic;
    text-align: center;
    width: 100%;
  }
}
