@import url("./reset.css");
@import url("./normalize.css");

:root {
  /* Color variables */
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  /* Accessibility Styles */
  --focus-color: orange;
  --focus-outline: dotted 2px var(--focus-color);
  --focus-outline-offset: 2px;

  /* Box variables */
  --border-radius: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 8px;

  /* Font Families */
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Components */
  --nav-height: 50px;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

p {
  line-height: 1.4;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.hero-section {
  border-right: dashed 2px rgb(var(--foreground-rgb));
  padding-right: 16px;
  margin-right: max(0px, calc((100vw - 800px) / 2));
}

.wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 0.5em;
}
