#marquee-text-wrapper {
  position: absolute;
  top: calc(100vh - 60px);
  width: 100%;

  overflow: hidden;
  white-space: nowrap;

  .marquee-text {
    display: flex;
    overflow: hidden;

    user-select: none;
    transform-origin: right;

    position: relative;
  }

  .marquee-text ul {
    background-color: rgb(var(--foreground-rgb));
    border-top: dashed 3px rgb(var(--background-rgb));
    border-bottom: dashed 3px rgb(var(--background-rgb));
    color: rgb(var(--background-rgb));
    font-size: 1.25em;
    letter-spacing: 2;
    padding: 8px 0;
    /* overflow: hidden; */

    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-shrink: 0;
    animation: marquee 10s linear infinite;
  }

  .marquee-text-primary {
    transform: rotateZ(-1.5deg);
    z-index: 2;
    opacity: 0.8;
  }

  .marquee-text-secondary {
    transform: rotateZ(1.5deg);
    opacity: 0.2;
    background-color: red;
  }
  .marquee-text-secondary ul {
    animation-direction: reverse;
    /* animation-delay: 2s; */
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}
