nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  height: var(--nav-height);

  ul {
    display: flex;
  }

  a {
    padding: 8px 16px;

    &.active {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-underline-offset: 8px;
    }

    &:focus-visible {
      /* outline: solid 2px rgb(var(--foreground-rgb)); */
      text-decoration: underline;
      text-decoration-style: wavy;
      text-underline-offset: 8px;
      text-decoration-color: orange;
    }
  }
}
