#navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  margin-bottom: 8px;
  position: sticky;
  top: 0;
  z-index: 111;
  padding: 0 var(--horizontal-gap);

  /* text-align: right; */
  background-color: rgb(var(--background-rgb));
  border-bottom: dashed var(--border-width) rgb(var(--foreground-rgb));

  nav {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      padding: 0 8px;
    }

    a {
      display: inline-flex;
      padding: 8px;
      border-radius: var(--border-radius);
    }

    a > svg {
      margin-left: 4px;
      margin-top: 2px;
    }

    a:hover {
      background-color: black;
      color: white;
    }

    [class^="seperator"]:last-of-type {
      display: none;
    }
  }

  #theme-switcher {
    button {
      padding: 8px;
    }
  }
}
