#navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  margin-bottom: 8px;
  position: sticky;
  top: 0;
  z-index: 111;
  padding: 0 max(0px, calc((100vw - 800px) / 2) - 1em);

  /* text-align: right; */
  background-color: rgb(var(--background-rgb));
  border-bottom: dashed var(--border-width) rgb(var(--foreground-rgb));

  nav {
    ul {
      display: flex;
      align-items: center;
    }

    [class^="seperator-round"]:last-of-type {
      display: none;
    }

    a {
      display: inline-flex;
      padding: 8px 16px;

      &.active {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 0.5em;
      }
    }

    a > svg {
      margin-left: 4px;
      margin-top: 2px;
    }
  }

  #theme-switcher {
    button {
      padding: 8px;
    }
  }
}
