#footer {
  .content {
    align-items: center;
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 200px 0;
  }

  a[href^="email"] {
    font-size: 2em;
  }

  blockquote {
    border-top: dashed var(--border-width) rgb(var(--foreground-rgb));
    font-size: 0.8em;
    padding: 16px 0;
    text-align: center;
  }

  ul {
    display: flex;
    gap: 8px;

    li a {
      border: solid var(--border-width-thin) rgb(var(--background-rgb));
      border-radius: var(--border-radius);

      display: inline-flex;
      align-items: center;
      justify-content: center;

      height: 28px;
      width: 28px;

      &:hover {
        background-color: rgb(var(--background-rgb));
        color: rgb(var(--foreground-rgb));
      }
    }
  }
}
