@import url("./theme.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --transparent-bar-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --black-bar-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --circle-x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --circle-y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes circles-zoom {
  from {
    --transparent-bar-width: 100vw;
    --black-bar-width: 500px;
    --circle-x: 50%;
    --circle-y: 50%;
  }
  to {
    --transparent-bar-width: 2px;
    --black-bar-width: 200px;
    --circle-x: 50%;
    --circle-y: 50%;
  }
}

@keyframes bg-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 8px;
  }
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% + 364px));
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes scale-fade-out {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@layer components {
  .container {
    @apply pt-[140px] flex items-center justify-center flex-col overflow-hidden last-of-type:pb-8;
  }

  .container > h2 {
    @apply m-auto pl-[var(--horizontal-gap)] w-full;
  }

  .container > ul {
    @apply py-8 pl-[var(--horizontal-gap)] pr-8 w-full gap-4;
  }

  .container > footer {
    @apply flex items-center justify-center w-full gap-2;
  }

  [class^="seperator"] {
    @apply bg-foreground;
  }

  .seperator-sq {
    @apply aspect-square w-2;
  }

  .seperator-sq-sm {
    @apply aspect-square w-1;
  }

  .seperator-rect {
    @apply h-[2px] w-6;
  }

  .seperator-rect-sm {
    @apply h-[2px] w-3;
  }

  .wavy-underline {
    @apply underline decoration-wavy underline-offset-[0.4em];
  }

  .shadow-box-v0 {
    @apply bg-background rounded border-[length:var(--border-width)] border-foreground flex w-full relative items-center justify-center;
    &::after {
      @apply bg-foreground rounded content-[""] h-full left-0 absolute top-0 w-full z-below-all;
    }
    &:hover::after {
      @apply left-[0.35em] top-[0.35em];
    }
  }

  .shadow-box {
    @apply bg-[rgba(var(--background-rgb),0.5)] rounded border-[length:var(--border-width-extra-thick)] border-foreground flex w-full relative items-center justify-center;
  }

  .highlight-inverted {
    @apply text-background bg-foreground;
  }

  .badge {
    @apply border-thin border-solid rounded-[2px] text-xs px-1 py-[2px];
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-foreground bg-background tracking-[0.075em] relative;

  &.mono {
    @apply text-[14px] font-mono;
  }

  &:after {
    @apply bg-scroll bg-[url(/images/dots.svg)] content-[""] h-full left-0 opacity-30 absolute top-0 w-full -z-10 [filter:var(--body-bgfilter)];
  }
}

[data-theme="light"] body:after {
  @apply opacity-60;
}

p {
  @apply leading-[1.4];
}

h1 {
  @apply text-[4.5em] m-0;
}

h2 {
  @apply text-[3em] m-0;
}

h3 {
  @apply text-[2em] m-0;
}

::selection {
  @apply text-background bg-foreground;
}

a,
button {
  @apply cursor-pointer focus-visible:outline-[var(--focus-outline)] focus-visible:outline-offset-[var(--focus-outline-offset)];
}
